@import "tailwindcss";
@import "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@custom-variant dark (&:where(.dark, .dark *));
@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-stream {
  @apply flex items-center;
}

@utility flex-stack {
  @apply flex flex-col;
}

@theme {
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  --animate-spin: spin 2s linear infinite;
  --color-temp: #ff0000;

  --radius: 4px;
  --radius-1: calc(var(--radius) * 1);
  --radius-2: calc(var(--radius) * 2);
  --radius-3: calc(var(--radius) * 3);
  --radius-4: calc(var(--radius) * 4);
  --radius-5: calc(var(--radius) * 5);
  --radius-6: calc(var(--radius) * 6);
  --radius-7: calc(var(--radius) * 7);
  --radius-8: calc(var(--radius) * 8);
  --radius-9: calc(var(--radius) * 9);
  --radius-10: calc(var(--radius) * 10);
}

@layer base {
  button,
  a {
    cursor: pointer;
  }
  button:disabled {
    cursor: default;
  }
}
